page-addcontent {
  hr {
// border: 2px solid red !important;
// height: 10px !important;
// width: 500px !important;
background: white !important;
display: block !important;
font-size: 2em !important;
visibility: visible !important;
}
}
